html {
  overflow-y: scroll;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 13pt;
	max-width: 1000px;
	margin: 0px auto;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'IBM Plex Serif', serif;
	display: inherit;
	margin: 20px 0 5px 0;
}

ul {
	list-style: none;
}

a {
	height: 100%;
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

#spacer {
	flex-grow: 1;
}

#content {
	margin: 0 0px;
	padding: 5px 5px;
}

/* Menu */
header {
	margin-top: 10px;
	
	display: flex;
	flex-direction: row;
	align-items: center;
}

header img {
	margin-left: 10px;
}

nav ul li {
	display: inline;
	margin: 10px;
}


/* Cards */
.card-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	justify-content: center;
	
}

.card {
	width: 300px;
	margin: 10px;
}

.card img {
	width: 100%;
	border-radius: 10px;
	height: 153.5px;
	object-fit: cover;
}

.card h2, p {
	margin: 5px 0;
}

/* Button */
.big-button {
	background-color: #000000;
	color: #ffffff;
	font-size: 1.2em;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	font-style: italic;
}

.big-button a {
	display: inline-block;
	width: 100%;
}

/* Social */
footer {
	margin: 10px;
}

footer img {
	width: 25px;
}